

.vertical ul{
    position: fixed;
    list-style: none;
    width: 25%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;

    overflow: auto;
}

.vertical li a{
    display: block;
    text-decoration: none;
    color:  #000;
    padding: 10px;
   
}
.vertical li a.home{
    background-color: #04AA6D;
    color: whitesmoke;
}
.vertical li a:not(.home):hover{
    background-color:#555 ;
    color: whitesmoke;
}

.vertical li{
    text-align: center;
    border-bottom: 1px solid black;
}

.vertical li:last-child{
    border-bottom: none;
}



.articale{
    text-align: justify;
    margin-left: 28%;
}