*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
.container{
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
    border: 1px solid yellow;
    border-radius: 20px;
    width: 450px;
    text-align: center;
    /* float: left; */
}



#btn{
    text-align: center;
    color: red;
    background-color: bisque;
    padding: 10px;
    border: 1px solid rgb(42, 33, 224);
    width: 100px;
    cursor: pointer;
    outline: 3px solid yellow;
    margin: 20px;
    outline-offset: 2px;
}

.glyphicon-cloud{
    font-size: 40px;
    color: red;
    font-weight: 700;
}