* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;


}


/* Clear float after col*/
.row::after {
    content: '';
    display: table;
    clear: both;
}

/* Designing header section*/
.header {
    width: 100vw;
    padding: 30px;
    background-color: gray;
    text-align: center;


}

.header:hover {
    color: whitesmoke;
    cursor: pointer;
}



/* Designing navbar section*/
.navbar {
    width: 100vw;
    background-color: rgba(14, 14, 14, 0.818);
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    margin-top: 5px;

}

.navbar a:hover {
    background-color: cadetblue;
    color: black;
}




/* Designing row_1 section*/
.row_1 {
    width: 100vw;
    margin: 20px auto;
    text-align: justify;
    font-size: 17px;
}

.row_1 .col {
    width: 32.4%;
    display: block;
    float: left;
    margin: 5px;
    padding: 15px;
    background-color: aquamarine;

}


/* Designing row_2 section*/

.row_2 {
    width: 100vw;
    margin: 20px auto;
    text-align: justify;
    font-size: 17px;

}

.row_2 .col {
    float: left;
    display: block;
    float: left;
    margin: 5px;
    padding: 15px;
    background-color: rgb(127, 193, 255);
}

.row_2 .middle {
    width: 47%;
}

.row_2 .side {
    width: 25%;
}


/* Designing footer section*/
.footer {
    width: 100vw;
    padding: 30px;
    background-color: gray;
    text-align: center;


}

/* For responsive*/
@media screen and (max-width:1100px) {

    .row_1 .col {
        box-sizing: border-box;
        width: 98.50%;
        margin: 5px;
        padding: 15px;
    }

    .row_2 .side,
    .row_2 .middle {
        box-sizing: border-box;
        width: 98.50%;
        margin: 5px;
        padding: 15px;
    }
}