*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body h1{
    text-align: center;
}
.container{
    width: 90%;
    margin: 10% auto;
    position: relative;
}
.box{
    width:30%;
    float:left;
    margin: 10px;
    padding: 5px;
    background: gainsboro;
    
   
}
.box img{
    width: 100%;
    height: 300px;

    /* object-fit: cover; */
    /* object-fit: contain; */
    /* object-fit: fill; */
    object-fit: scale-down;
    /* object-fit: none; */


    /* object-position: top ; */
    /* object-position: bottom ; */
    /* object-position: left ; */
    object-position: right ;
}
.des{
    width: 100%;
    background: #fff;
    text-align: justify;
    
}

.box-4{
    top: 20%;
}